@media screen and (max-width : 1000px) {
  header {
    width: 90%;

    li {
      margin-left: 0.5rem;
    }
  }

  html {
    font-size: 12px;
  }
}

@media screen and (max-width : 768px) {
  header {
    position: relative;
  }

  .nav {
    display: none;
  }

  #toogle:checked~.nav {
    display: inline-block;
  }

  .bars {
    display: inline-block;
  }

  .item {
    grid-column: 1 / -1;
  }

  .item2 {
    height: auto;
    padding: 3rem 2rem;

    div {
      margin-top: 0;
    }

  }

  .item3,
  .item10,
  .item11 {
    padding: 3rem 2rem;
  }

  .item4 {
    &>div {
      padding: 3rem 1rem;
    }
  }

  .item5,
  .item6,
  .item7,
  .item8 {
    padding: 3rem 0;
  }

  .item9,
  .item12 {
    height: 50vh;
  }

  .item13 {
    button {
      width: 100%;
      margin: 1rem auto;
    }
  }

  .item14 {
    height: 65vh;
  }
}